@mixin main-container-padding {
  @include for-phone-only {
    padding-left: 0;
    padding-right: 0;
  }

  @include for-tablet-portrait-up {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include for-tablet-landscape-up {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include for-tablet-landscape-up {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include for-large-desktop-up {
    padding-left: 180px;
    padding-right: 180px;
  }
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-large-desktop-up {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin for-extra-large-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
