//fonts
@import "../fonts/fonts.scss";

//mixins
@import "../styles/mixins/mixin.scss";

body {
  padding: 0;
  margin: 0;
  font-family: "source-sans-pro";
  font-weight: normal;
}

.App-header {
  padding-top: 40px;

  .logo-search-container {
    display: flex;
    justify-content: space-between;
    @include main-container-padding;

    .search-form {
      position: relative;
      margin-right: 120px;
      .search-bar {
        width: 354px;
        height: 51px;
        mix-blend-mode: normal;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        border-radius: 25.5px;
        color: black;
      }
      .submit-search {
        background-image: url("../images/search.svg");
        background-size: 25px 25px;
        background-repeat: no-repeat;
        height: 39px;
        width: 39px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        right: -1px;
        top: 11px;
        opacity: 0.6;
      }
    }
  }
}

.navigation-container {
  margin-top: 60px;
  position: relative;

  .main-menu {
    display: flex;
    justify-content: space-between;
    @include main-container-padding;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;

    li {
      text-decoration: none;
      list-style: none;
      text-decoration-line: none;

      &:focus-within {
        .first-submenu-level {
          display: flex;
        }
      }

      a {
        text-decoration: none;
        color: black;
      }

      &:hover .first-submenu-level {
        display: flex;
      }
    }
  }

  .sub-menu {
    width: calc(100vw - 360px);
    @include main-container-padding;
    position: absolute;
    display: flex;
    justify-content: space-between;

    &.first-submenu-level {
      display: none;
      background-color: #e6e7e8;
      left: -180px;

      & li:hover .second-submenu-level {
        display: flex;
      }

      & li:focus-within .second-submenu-level {
        display: flex;
      }

      a {
        color: #17609c;
      }
    }

    &.second-submenu-level {
      display: none;
      background-color: #17609c;
      left: -180px;
      a {
        color: white;
      }
    }
  }

  .main-menu > li {
    position: relative;

    &:hover > a,
    &:focus-within > a {
      font-weight: bold;
    }
    &:hover:after,
    &:focus-within:after {
      position: absolute;
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: 52px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #e6e7e8;
    }
  }

  .first-submenu-level > li {
    position: relative;

    a {
      font-weight: normal;
    }

    &:hover > a,
    &:focus-within > a {
      font-weight: bold;
      text-decoration-line: underline;
    }
    &:hover:after,
    &:focus-within:after {
      position: absolute;
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: 52px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #17609c;
    }
  }

  .second-submenu-level > li {
    position: relative;

    &:hover > a,
    &:focus > a {
      font-weight: bold;
      text-decoration-line: underline;
    }
  }
}
