//fonts
@import "../fonts/fonts.scss";

//mixins
@import "../styles/mixins/mixin.scss";

body {
  padding: 0;
  margin: 0;
  font-family: "source-sans-pro";
  font-weight: normal;
}

.App-header {
  padding-top: 40px;

  .logo-search-container {
    display: flex;
    justify-content: space-between;
    @include main-container-padding;

    .logo-container {
      font-size: 0;
      align-self: start;
    }

    .search-form {
      position: relative;
      margin-right: 120px;

      span {
        display: none;
      }
      .search-bar {
        width: 354px;
        height: 51px;
        mix-blend-mode: normal;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        border-radius: 25.5px;
        color: black;
      }
      .submit-search {
        background-image: url("../images/search.svg");
        background-size: 25px 25px;
        background-repeat: no-repeat;
        height: 39px;
        width: 39px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        right: -1px;
        top: 11px;
        opacity: 0.6;
      }
    }
  }
}

//Navigation
.navigation-container {
  margin-top: 60px;
  position: relative;

  .main-menu {
    display: flex;
    justify-content: space-between;
    @include main-container-padding;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    margin-bottom: 0;

    li {
      text-decoration: none;
      list-style: none;
      text-decoration-line: none;

      &:focus-within {
        .first-submenu-level {
          display: flex;
        }
      }

      a {
        text-decoration: none;
        color: black;
      }

      &:hover .first-submenu-level {
        display: flex;
      }
    }
  }

  .sub-menu {
    width: calc(100vw - 360px);
    @include main-container-padding;
    position: absolute;
    display: flex;
    justify-content: space-between;

    &.first-submenu-level {
      display: none;
      background-color: #e6e7e8;
      left: -180px;

      & li:hover .second-submenu-level {
        display: flex;
      }

      & li:focus-within .second-submenu-level {
        display: flex;
      }

      a {
        color: #17609c;
      }
    }

    &.second-submenu-level {
      display: none;
      background-color: #17609c;
      left: -180px;
      a {
        color: white;
      }
    }
  }

  .main-menu > li {
    position: relative;

    &:hover > a,
    &:focus-within > a {
      font-weight: bold;
    }
    &:hover:after,
    &:focus-within:after {
      position: absolute;
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: 52px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #e6e7e8;
    }
  }

  .first-submenu-level > li {
    position: relative;

    a {
      font-weight: normal;
    }

    &:hover > a,
    &:focus-within > a {
      font-weight: bold;
      text-decoration-line: underline;
    }
    &:hover:after,
    &:focus-within:after {
      position: absolute;
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: 52px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #17609c;
    }
  }

  .second-submenu-level > li {
    position: relative;

    &:hover > a,
    &:focus > a {
      font-weight: bold;
      text-decoration-line: underline;
    }
  }
}

//medication-info

.medication-info {
  .medication-header {
    background-color: #0a121e;
    @include main-container-padding;
    background-position: right;
    height: 410px;
    background-size: auto 410px;
    background-repeat: no-repeat;
    background-image: -webkit-image-set(
      url("../images/IVA-Cover-ohne-retuschiert 1@2x.png") 1x,
      url("../images/IVA-Cover-ohne-retuschiert 1@3x.png") 2x
    );

    .medication-logo {
      margin-top: 45px;
    }

    .medication-about {
      font-size: 28px;
      line-height: 130%;
      color: white;
      width: 40%;
    }
  }
  .medication-package-information {
    display: flex;
    align-items: center;
    height: 410px;
    background-color: #eeeeee;

    @include main-container-padding;

    .medication-description {
      width: 40%;
      margin-top: -30px;
      margin-left: 150px;

      p {
        font-size: 28px;
        line-height: 130%;
        letter-spacing: 0.5px;
        color: #00609c;
      }

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

//medication description

.medication-benifits {
  @include main-container-padding;
  display: flex;
  justify-content: space-between;
  height: 660px;
  align-items: center;

  dl {
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;

    dd {
      margin-left: 0;
    }

    .benifit-short-description {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 130%;
      letter-spacing: 0.5px;
      color: #00609c;
      margin: 0 auto;
      width: 80%;
      margin-bottom: 11px;
    }

    .benifit-img {
      order: -1;
    }

    .benifit-long-description {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      margin-bottom: 11px;
    }

    a {
      text-decoration: none;
      color: #c017a2;
    }
  }
}

//medication main video section

.medication-main-video-container {
  @include main-container-padding;
  display: flex;
  align-items: center;
  height: 720px;
  justify-content: space-between;

  header {
    font-style: normal;
    letter-spacing: 0.5px;
    color: #00609c;

    h3 {
      font-weight: normal;
      font-size: 28px;
      line-height: 120%;
    }
  }

  .main-video-about-container {
    margin-right: 20px;
  }

  .watch-the-video-button {
    width: 216px;
    height: 55px;
    display: block;
    margin: 20px 0;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    background-color: #c017a2;
    text-align: center;
    line-height: 55px;
  }

  .video-representitive-img {
    width: 700px;
    height: 400px;
  }

  background: #eeeeee;
}

// Articles section

.articles-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include main-container-padding;
  height: 850px;

  header {
    h3 {
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 120%;
      letter-spacing: 0.5px;

      color: #00609c;
    }
  }
  ol {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: space-between;

    .article {
      background-color: #eeeeee;
      width: 530px;
      padding-bottom: 45px;
      margin-right: 20px;

      p,
      a,
      h4 {
        margin: 5px;
        margin-left: 40px;
        margin-bottom: 20px;
        padding-right: 50px;
      }

      h4 {
        margin-top: 55px;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 32px;

        letter-spacing: 0.5px;

        color: #00609c;
      }

      a {
        text-decoration: none;
        color: #c017a2;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }

  img {
    width: 530px;
    height: 320px;
    object-fit: contain;
  }
}

//medication videos section

.medication-videos-section {
  height: 720px;
  background-color: #eeee;
  @include main-container-padding;
  display: flex;
  flex-direction: column;
  justify-content: center;

  header {
    margin-bottom: 60px;
    h3 {
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 130%;

      letter-spacing: 0.5px;
      margin-bottom: 0;
      color: #00609c;
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;

      color: #000000;
    }
  }
  ol {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 0;

    li.video-container {
      list-style: none;
      display: flex;
      width: 40%;
      min-width: 520px;

      .medication-video {
        position: relative;
        width: 250px;
        height: 140px;
        background-color: white;
        margin-right: 20px;
        margin-bottom: 65px;

        &:after {
          content: "";
          width: 40px;
          height: 40px;
          display: block;
          position: absolute;
          background-image: url("../images/videoIcon.svg");
          background-size: 40px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .video-about {
        a {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          text-decoration: none;

          color: #00609c;
          margin: 0 0 0 0;
        }
        p {
          width: 240px;
        }
      }
    }
  }
}
